<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>글쓰기</title>
<link rel="stylesheet" th:href="@{/css/boardWrite.css}">
</head>
<body>
<!-- 상단 네비게이션 -->
<div class="navbar">
    <div class="nav-left">
        <a href="/main" class="logo">YuhanCon</a>
        <a href="/main">홈</a>
        <a href="/concertList">공연정보</a>
        <a href="/boardMain">게시판</a>
        <a href="/mypage">마이페이지</a>
    </div>
    <div class="nav-right">
        <a href="/logout">로그아웃</a>
    </div>
</div>
<h1>글쓰기</h1>
<form th:action="@{/boardWrite}" method="post">

    <input type="text" name="title" th:value="${board.title}" placeholder="제목" required><br>
    <textarea name="content" th:text="${board.content}" placeholder="내용" required></textarea><br>
    <button type="submit">저장</button>
</form>
</body>
</html>